/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
  box-sizing: border-box;
  height: 100%;
}

html{
  font-size: 16px; /* 1rem = 16px */
}

/* Reset básico para asegurar consistencia entre navegadores */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 1rem; /* 16px */
}

/* Eliminar decoraciones y formatos predeterminados */
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ejemplo de uso de rem y em */
h1 {
  font-size: 2rem; /* 32px */
  margin-bottom: 1rem; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
  margin-bottom: 1.5rem; /* 24px */
}

.container {
  font-size: 1rem; /* 16px */
  display: flex;
  flex-wrap: wrap;
}

.container .child {
  text-align: center;
  font-size: 1.25em; /* 20px (1.25 * 16px) */
  margin-bottom: 1em; /* 20px (1.25 * 16px) */

  flex: 1 1 50%; /* Toma 50% del ancho del contenedor */
  padding: 10px; /* Espaciado interno */

  display: flex;
  flex-direction: column;

}

@media (max-width: 768px) {
  .child {
      flex: 1 1 100%; /* Toma 100% del ancho del contenedor en pantallas móviles */
      display: flex;
      justify-content: center;
  }
}